* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fcf7e8;
    min-width: 320px;
    width: 100%;
    overflow-y: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header__menu--nav {
    display: flex;
    list-style: none;
}

.header__menu--nav-item a {
    display: block;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #2e5a3d;
    cursor: pointer;
}